.gradient-background {
    background: linear-gradient(202deg,#ff585f,#6c2929,#ff9c99);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
.footer-link{
    @apply transition-all hover:scale-110 hover:-translate-x-1/12 inline-block;
}
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}